.links-modal-enter-active,
.links-modal-leave-active {
    transition: transform 0.25s ease, opacity 0.25s ease;
}

.links-modal-enter-from {
    transform: translateY(-20px);
    opacity: 0;
}

.links-modal-enter-to {
    transform: translateY(0);
    opacity: 1;
}

.links-modal-leave-from {
    transform: translateY(0);
    opacity: 1;
}

.links-modal-leave-to {
    transform: translateY(-20px);
    opacity: 0;
}